{% extends 'base.html' %}

{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}

{% block sidecontent %}
<div class="container" style="">
<div style="#777777;">
<div><h2>Projects</h2></div>
<div style="height: 20px;margin-top: 10px;"><h4><a href="/totalproject">All Projects</a> </h4></div>
{% for i in project %}
    {% if i.id == project_name.id %}
    <div><h5><b>{{ i }}</b></h5></div>
    {% else %}
<div ><h5><a href="/project/{{ i.id }}">{{ i.name }}</a></h5></div>{% endif %}
{% endfor %}
{% if user.groups.get.name == 'Associate' %}

{% else %}
<div><a href="/create/project">Add New</a></div>
{% endif %}
</div>
</div>
{% endblock %}

{% block content %}
    <div style="background-color: transparent">
<div style="font-size: 2em;height: 120px;padding-top: 10px;">
        <table width="80%">
        <tr>
        {% if project_name.name %}
                <td colspan="2" align="center"><h2>{{ project_name.name }}</h2></td>
                {% else %}
                <td colspan="2" align="center"><h2>All Projects</h2></td>
                {% endif %}
        </tr>
            <tr style="font-size: 20px;">
                {% if user.groups.get.name == 'Associate' %}
                <td><a href="/export/">Export to CSV</a></td>

                {% else %}
                <td style="float: left;padding-left: 50px;"><a href="/create/{{ project_name.id }}">Add issue</a> </td>
                <td style="float: right"><a href="/export/">Export to CSV</a></td>
                {% endif %}
            </tr>
        </table>
    </div>
    <div >

    <div>
    <table class="table">
    <tr style="background-color: dimgrey;color: white">
        <th>ID</th>
        <th>Name</th>
        <!--<th>Comment</th>-->
        <th>Created Date</th>
        <th>Created_By</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Assigned to</th>
        <th>Modify by</th>
    </tr>
    {% for i in query %}
    {% if i.priority == 'High' and i.status != 'Complete' %}
        <tr style="color:red">
    {% else %}
        <tr>
     {% endif %}
        <td>{{ i.id }}</td>
        <td><a href="/issues/{{ i.id }}">{{ i.name }}</a></td>

        <td>{{ i.created_date }}</td>
        <td>{{ i.created_by }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.priority }}</td>
        <td>{{ i.assign.get_full_name }}</td>
        <td>{{ i.modify_by }}</td>
    </tr>
    {% endfor %}

   </table>
    </div>
</div>
    </div>

{% endblock %}