{% include 'js.html' %}
{% include 'css.html' %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Dropdown Searchbox</h2>
    </div>
    <div class="panel-body">
      <div class="row">
      	<div class="col-md-6">
          <div class="form-horizontal">
            <div class="input-group">
              <div class="ddl-select input-group-btn">
                <select id="ddlsearch" class="selectpicker form-control" data-style="btn-primary btn">
                  <option value="" data-hidden="true" class="ddl-title">SEARCH</option>
                  <option value="google">Google</option>
                  <option value="yahoo">Yahoo</option>
                  <option value="bing">Bing</option>
                </select>
              </div>
              <input id="txtkey" class="form-control" placeholder="Enter here" aria-describedby="ddlsearch" type="text">
              <span class="input-group-btn">
                <button id="btn-search" class="btn btn-info btn-primary" type="button"><i class="fa fa-search fa-fw"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
      	<div class="row">
          <div id="sresult" class="well"></div>
          <redirect <="" div="">
      </redirect></div>
    </div>
  </div>
</div></div>


            <div id="push"></div>
        